body {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: auto;
	width: 100%;
	overflow: visible;
	background-color: black;
}

.top {
	position: absolute;
	top: 0;
	height: 50px;
	left: 0;
	right: 0;
	width: 100%;
	background-color: black;
}

#need {
	position: absolute;
	top: -7px;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
	font-family: 'Handlee', sans-serif;
	font-size: 19px;
}

#tacos {
	-webkit-appearance: none;
	text-decoration: none;
	color: white;
	top: -10px;
	font-size: 17px;
	border-radius: 2px;
	height: 30px;
	width: 130px;
	border-color: transparent;
	background-color: #B51A00;
	font-family: 'Handlee', sans-serif;
	cursor: pointer;
	outline: none;
}

#siteimg {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	height: 400px;
	background-image: url("http://i.imgur.com/kbqhk2p.jpg");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

#logoimg {
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	text-align: center;
	height: auto;
	width: 100%;
	background-color: transparent;
}

img {
	position: relative;
	height: 150px;
	width: 300px;
	border-radius: 80px;
}

.menuwrap {
	position: absolute;
	display: none;
}

.littleme p { text-align: right; }
 .toggle, [id^=drop] {
 display: none;
}

/*Dropdown Menu for mobile site. Hidden on desktop*/
.littleme {
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: right;
  margin: 0;
  padding: 0;
  position: absolute;
  display: none;
}

.littleme:after {
  content: "";
  display: table;
  clear: both;
}

.littleme ul {
  padding: 0;
  left: -6%;
  right: 6%;
  list-style: none;
  position: relative;
  text-align: center;
}

.littleme ul li {
  left: -6%;
  right: 6%;
  text-align: center;
  height: auto;
  width: 100%;
  display: block;
  background-color: #B51A00;
  opacity: 1;
}

.littleme a {
  text-align: center;
  opacity: 1;
  left: 0;
  right: 0;
  display: block;
  background-color: #B51A00;
  color: #FFF;
  font-size: 20px;
  font-family: ;
  line-height: 45px;
  text-decoration: none;
}

.littleme li > a:after { content: ' +';}

.littleme li > a:only-child:after { content: ''; }

.menu {
	position: absolute;
	text-align: center;
	top: 450px;
	left: 0;
	right: 0;
	width: 100%;
	height: 95px;
	z-index: 10000;
	background-color: black;
}

.toma {
	position: relative;
	top: 5px;
	height: 30px;
	width: 30px;
	background-color: black;
	opacity: 0;
}

#menutext {
	position: relative;
	left: -40px;
	right: 0;
	top: -5px;
	bottom: 0;
	list-style: none;
	font-family: 'Handlee', sans-serif;
	font-size: 15px;
	color: white;
	text-align: center;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 95px;
	width: 100%;
}


li {
	display: inline;
	padding: 0px 30px;
}

a {
	text-decoration: none;
	outline: none;
	color: white;
}

a:hover .toma {
	opacity: 1;
	transition: .7s;
}

.info {
	position: absolute;
	left: 0;
	right: 0;
	top: 590px;
	height: 750px;
	width: 100%;
	z-index: 1001;
	background-color: black;
}

#formhead {
	position: absolute;
	left: 0;
	right: 0;
	top: 10px;
	text-align: center;
	font-size: 36px;
	font-family: 'Handlee', sans-serif;
	color: white;
	z-index: 5000;
}

#taquiza {
	position: absolute;
	top: 150px;
	right: 0;
	height: 500px;
	left: 50%;

}

#otherside {
	position: absolute;
	top: 90px;
	left: 0;
	height: 700px;
	right: 50%;
}

#jppic {
	position: absolute;
	left: 30px;
	top: 100px;
	right: 30px;
	width: 80%;
	height: 400px;
	background-image: url("http://i.imgur.com/yyCprzF.jpg");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 60px;
}

#tacostwo {
	-webkit-appearance: none;
	position: absolute;
	left: 17%;
	right: 0;
	text-align: center;
	text-decoration: none;
	color: white;
	top: 640px;
	font-size: 22px;
	border-radius: 5px;
	border-color: transparent;
	background-color: #B51A00;
	font-family: 'Handlee', sans-serif;
	cursor: pointer;
	outline: none;
}

#taquizatext {
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 32px;
	color: #B51A00;
}

#diffin2 {
	position: absolute;
	left: 0;
	right: 0;
	top: 75px;
	text-align: left;
	font-family: 'Material Icons', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#include {
	position: absolute;
	left: 40px;
	right: 0;
	top: 70px;
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#diffin3 {
	position: absolute;
	left: 0;
	right: 0;
	top: 105px;
	text-align: left;
	font-family: 'Material Icons', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#include2 {
	position: absolute;
	left: 40px;
	right: 0;
	top: 100px;
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#diffin4 {
	position: absolute;
	left: 0;
	right: 0;
	top: 135px;
	text-align: left;
	font-family: 'Material Icons', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#include3 {
	position: absolute;
	left: 40px;
	right: 0;
	top: 130px;
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#diffin5 {
	position: absolute;
	left: 0;
	right: 0;
	top: 165px;
	text-align: left;
	font-family: 'Material Icons', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#include4 {
	position: absolute;
	left: 40px;
	right: 0;
	top: 160px;
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#diffin6 {
	position: absolute;
	left: 0;
	right: 0;
	top: 195px;
	text-align: left;
	font-family: 'Material Icons', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#include5 {
	position: absolute;
	left: 40px;
	right: 0;
	top: 190px;
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#diffin7 {
	position: absolute;
	left: 0;
	right: 0;
	top: 225px;
	text-align: left;
	font-family: 'Material Icons', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#include6 {
	position: absolute;
	left: 40px;
	right: 0;
	top: 220px;
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#diffin8 {
	position: absolute;
	left: 0;
	right: 0;
	top: 255px;
	text-align: left;
	font-family: 'Material Icons', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#include7 {
	position: absolute;
	left: 40px;
	right: 0;
	top: 250px;
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}


#diffin9 {
	position: absolute;
	left: 0;
	right: 0;
	top: 285px;
	text-align: left;
	font-family: 'Material Icons', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#include8 {
	position: absolute;
	left: 40px;
	right: 0;
	top: 280px;
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#diffin10 {
	position: absolute;
	left: 0;
	right: 0;
	top: 315px;
	text-align: left;
	font-family: 'Material Icons', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#include9 {
	position: absolute;
	left: 40px;
	right: 0;
	top: 310px;
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#diffin11 {
	position: absolute;
	left: 0;
	right: 0;
	top: 345px;
	text-align: left;
	font-family: 'Material Icons', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#include10 {
	position: absolute;
	left: 40px;
	right: 0;
	top: 340px;
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#diffin12 {
	position: absolute;
	left: 0;
	right: 0;
	top: 375px;
	text-align: left;
	font-family: 'Material Icons', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#include11 {
	position: absolute;
	left: 40px;
	right: 0;
	top: 370px;
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#diffin13{
	position: absolute;
	left: 0;
	right: 0;
	top: 405px;
	text-align: left;
	font-family: 'Material Icons', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#include12 {
	position: absolute;
	left: 40px;
	right: 0;
	top: 400px;
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	color: white;
	font-weight: 100;
}

#botstuff {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 300px;
	top: 1500px;
}

#con {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	color: white;
	font-size: 26px;
}

#numba {
	position: absolute;
	left: -140px;
	top: 90px;
	right: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	color: white;
	font-size: 22px;
}

#colnum {
	position: absolute;
	left: 60px;
	top: 90px;
	right: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	color: #B51A00;
	font-size: 22px;

}
	
#mail {
	position: absolute;
	left: -212px;
	top: 140px;
	right: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	color: white;
	font-size: 22px;
}

#colmail {
	position: absolute;
	left: 60px;
	top: 140px;
	right: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	color: #B51A00;
	font-size: 22px;
}
	
	
#imgbotl {
	position: absolute;
	right: 0;
	top: -30px;
	height: 300px;
	width: 400px;
	background-image: url("http://i.imgur.com/cBAFUZv.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 8000;
}

#imgleft {
	position: absolute;
	left: 45px;
	top: 35px;
	height: 150px;
	width: 300px;
	background-image: url("http://i.imgur.com/Gj3MwMA.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 70px;
	z-index: 8000;
}

#bottom {
	position: absolute;
	top: 1730px;
	left: 0;
	right: 0;
	height: 100px;
	z-index: 8000;
}

.menutwo {
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
}

#menutexttwo {
	position: absolute;
	left: -80px;
	right: 0;
	top: 20%;
	bottom: 0;
	list-style: none;
	font-family: 'Handlee', sans-serif;
	font-size: 15px;
	color: white;
	text-align: center;
	vertical-align: middle;
}

#endstuf {
	position: absolute;
	font-family: 'Handlee', sans-serif;
	font-size: 14px;
	color: white;
	top: 110%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 8000;
}

@media all and (max-width: 1024px) {
	body {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		height: auto;
		width: 100%;
		overflow: visible;
		background-color: black;
	}
	
	.top {
		position: absolute;
		top: 50px;
		height: 50px;
		left: 0;
		right: 0;
		width: 100%;
		background-color: black;
	}
	
	#need {
		position: absolute;
		top: -15px;
		left: 0;
		right: 0;
		text-align: center;
		color: white;
		font-family: 'Handlee', sans-serif;
		font-size: 26px;
	}
	
	#tacos {
		-webkit-appearance: none;
		text-decoration: none;
		color: white;
		top: -10px;
		font-size: 23px;
		border-radius: 2px;
		height: 30px;
		width: 190px;
		border-color: transparent;
		background-color: #B51A00;
		font-family: 'Handlee', sans-serif;
		cursor: pointer;
		outline: none;
	}
	
	#siteimg {
		position: absolute;
		top: 140px;
		left: 0;
		right: 0;
		height: 310px;
		background-image: url("http://i.imgur.com/kbqhk2p.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	#logoimg {
		position: absolute;
		top: 30%;
		left: 0;
		right: 0;
		text-align: center;
		height: auto;
		width: 100%;
		background-color: transparent;
	}
	
	img {
		position: relative;
		height: 150px;
		width: 300px;
		border-radius: 80px;
	}
	
	.menu {
		position: absolute;
		display: none;
	}
	
	.menuwrap {
		transform: translate3d(0px,0px,0px);
		position: fixed;
		display: inline;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 50px;
		z-index: 10001;
	}
	
	#alm {
		position: absolute;
		height: 48px;
		top: 0;
		left: 0;
		z-index: 10001;
	}
	
	#alm2 {
		height: 48px;
		width: 140px;
	}
	
		 /*Makes Mobile Version of Menu visible*/
	.littleme {
		display: initial;
		text-align: center;
	    	left: 0;
	    	right: 0;
	    	z-index: 10000;
	    	height: 50px;
	    	overflow: visible;
	    	background-color: black;
	    	opacity: 1;
	  }
	
	.littleme { margin: 0; }
	
	.toggle + a,
	 .othermenu { 
	     	display: none;
	     	left: 0;
	     	right: 0;
	     	text-align: center;
	 }
	
	/*Used a Character Font to make the Menu Icon. 
	It was the most effecient way to get to what I needed.
	This styles the Menu Icon*/
	.toggle {
	    	display: block;
	    	text-align: right;
	    	background-color: black;
	    	opacity: 1;
	    	top: 3px;
	    	position: absolute;
	    	right: 0;
	    	left: 0;
	    	color: #B51A00;
	    	font-size: 48px;
	    	font-weight: 100;
	    	line-height: 45px;
	    	text-decoration: none;
	    	font-family: 'Material Icons', sans-serif;
	    	z-index: 7000;
	}
	
	/*Makes Menu Icon Site green after getting clicked*/
	#drop:checked + label {
	    	color: #B51A00;
	}
	
	/*Displays Dropdown Menu after Menu Icon is clicked*/
	[id^=drop]:checked + label + ul {
	    	display: block;
	}
	
	.littleme ul li {
		display: block;
		text-align: center;
		left: -7.5%;
		right: 7.5%;
	    	width: 100%;
	    	z-index: 6000;
	    	border: none;
	    	font-family: 'Handlee', sans-serif;
	}
	
	.littleme ul {
		padding: 0;
		left: -7.5%;
		right: 7.5%;
	 	list-style: none;
		position: relative;
		text-align: center;
	}
	
	.info {
		position: absolute;
		left: 0;
		right: 0;
		top: 590px;
		height: 750px;
		width: 100%;
		z-index: 1001;
		background-color: black;
	}
	
	#formhead {
		position: absolute;
		left: 0;
		right: 0;
		top: 10px;
		text-align: center;
		font-size: 36px;
		font-family: 'Handlee', sans-serif;
		color: white;
		z-index: 5000;
	}
	
	#taquiza {
		position: absolute;
		top: 150px;
		right: 0;
		height: 500px;
		left: 0;
	
	}
	
	#otherside {
		position: absolute;
		top: 90px;
		left: 0;
		height: 700px;
		right: 50%;
	}
	
	#jppic {
		position: absolute;
		display: none;
	}
	
	#tacostwo {
		display: block;
		margin: auto;
	}
	
	#tacostwo {
		-webkit-appearance: none;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		text-decoration: none;
		color: white;
		height: 35px;
		width: 180px;
		top: 680px;
		font-size: 22px;
		border-radius: 5px;
		border-color: transparent;
		background-color: #B51A00;
		font-family: 'Handlee', sans-serif;
		cursor: pointer;
		outline: none;
	}
	
	#taquizatext {
		position: absolute;
		left: 0;
		right: 0;
		top: 0px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 32px;
		color: #B51A00;
	}
	
	#diffin2 {
		position: absolute;
		left: 0;
		right: 0;
		top: 75px;
		text-align: left;
		font-family: 'Material Icons', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#include {
		position: absolute;
		left: 40px;
		right: 0;
		top: 70px;
		text-align: left;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#diffin3 {
		position: absolute;
		left: 0;
		right: 0;
		top: 105px;
		text-align: left;
		font-family: 'Material Icons', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#include2 {
		position: absolute;
		left: 40px;
		right: 0;
		top: 100px;
		text-align: left;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#diffin4 {
		position: absolute;
		left: 0;
		right: 0;
		top: 135px;
		text-align: left;
		font-family: 'Material Icons', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#include3 {
		position: absolute;
		left: 40px;
		right: 0;
		top: 130px;
		text-align: left;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#diffin5 {
		position: absolute;
		left: 0;
		right: 0;
		top: 165px;
		text-align: left;
		font-family: 'Material Icons', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#include4 {
		position: absolute;
		left: 40px;
		right: 0;
		top: 160px;
		text-align: left;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#diffin6 {
		position: absolute;
		left: 0;
		right: 0;
		top: 195px;
		text-align: left;
		font-family: 'Material Icons', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#include5 {
		position: absolute;
		left: 40px;
		right: 0;
		top: 190px;
		text-align: left;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#diffin7 {
		position: absolute;
		left: 0;
		right: 0;
		top: 225px;
		text-align: left;
		font-family: 'Material Icons', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#include6 {
		position: absolute;
		left: 40px;
		right: 0;
		top: 220px;
		text-align: left;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#diffin8 {
		position: absolute;
		left: 0;
		right: 0;
		top: 255px;
		text-align: left;
		font-family: 'Material Icons', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#include7 {
		position: absolute;
		left: 40px;
		right: 0;
		top: 250px;
		text-align: left;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	
	#diffin9 {
		position: absolute;
		left: 0;
		right: 0;
		top: 285px;
		text-align: left;
		font-family: 'Material Icons', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#include8 {
		position: absolute;
		left: 40px;
		right: 0;
		top: 280px;
		text-align: left;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#diffin10 {
		position: absolute;
		left: 0;
		right: 0;
		top: 315px;
		text-align: left;
		font-family: 'Material Icons', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#include9 {
		position: absolute;
		left: 40px;
		right: 0;
		top: 310px;
		text-align: left;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#diffin11 {
		position: absolute;
		left: 0;
		right: 0;
		top: 345px;
		text-align: left;
		font-family: 'Material Icons', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#include10 {
		position: absolute;
		left: 40px;
		right: 0;
		top: 340px;
		text-align: left;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#diffin12 {
		position: absolute;
		left: 0;
		right: 0;
		top: 375px;
		text-align: left;
		font-family: 'Material Icons', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#include11 {
		position: absolute;
		left: 40px;
		right: 0;
		top: 370px;
		text-align: left;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#diffin13{
		position: absolute;
		left: 0;
		right: 0;
		top: 405px;
		text-align: left;
		font-family: 'Material Icons', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#include12 {
		position: absolute;
		left: 40px;
		right: 0;
		top: 400px;
		text-align: left;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 19px;
		color: white;
		font-weight: 100;
	}
	
	#botstuff {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 300px;
		top: 1500px;
	}
	
	#con {
		position: absolute;
		top: -140px;
		left: 0;
		right: 0;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		color: white;
		font-size: 29px;
	}
	
	#numba {
		position: absolute;
		left: -140px;
		top: -70px;
		right: 0;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		color: white;
		font-size: 22px;
	}
	
	#colnum {
		position: absolute;
		left: 60px;
		top: -70px;
		right: 0;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		color: #B51A00;
		font-size: 22px;
	
	}
		
	#mail {
		position: absolute;
		left: -212px;
		top: -30px;
		right: 0;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		color: white;
		font-size: 22px;
	}
	
	#colmail {
		position: absolute;
		left: 60px;
		top: -30px;
		right: 0;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		color: #B51A00;
		font-size: 22px;
	}
		
		
	#imgbotl {
		position: absolute;
		right: 0;
		left: 12%;
		text-align: center;
		top: 90px;
		height: 150px;
		width: 300px;
		background-image: url("http://i.imgur.com/cBAFUZv.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		z-index: 8000;
	}
	
	#imgleft {
		position: absolute;
		display: none;
	}
	
	#bottom {
		position: absolute;
		top: 1730px;
		left: 0;
		right: 0;
		height: 100px;
		z-index: 8000;
	}

	a[href^=tel] { 
		color: inherit; text-decoration: none; 
	}
	
	.menutwo {
		position: absolute;
		display: none;
	}
	
	#endstuf {
		position: absolute;
		font-family: 'Handlee', sans-serif;
		font-size: 14px;
		color: white;
		top: 110%;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 8000;
	}
}


