body, html, main {
	/* important */
	height: 100%;
	background-color: black;
}

.top {
	position: absolute;
	top: 0;
	height: 50px;
	left: 0;
	right: 0;
	width: 100%;
	background-color: black;
}

#need {
	position: absolute;
	top: -7px;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
	font-family: 'Handlee', sans-serif;
	font-size: 19px;
}

#tacos {
	text-decoration: none;
	color: white;
	top: -10px;
	font-size: 17px;
	border-radius: 2px;
	height: 30px;
	width: 130px;
	border-color: transparent;
	background-color: #B51A00;
	font-family: 'Handlee', sans-serif;
	cursor: pointer;
	outline: none;
}
 
.cd-fixed-bg {
	min-height: 100%;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

.menuwrap {
	position: absolute;
	display: none;
}

.littleme p { text-align: right; }
 .toggle, [id^=drop] {
 display: none;
}

/*Dropdown Menu for mobile site. Hidden on desktop*/
.littleme {
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: right;
  margin: 0;
  padding: 0;
  position: absolute;
  display: none;
}

.littleme:after {
  content: "";
  display: table;
  clear: both;
}

.littleme ul {
  padding: 0;
  left: -6%;
  right: 6%;
  list-style: none;
  position: relative;
  text-align: center;
}

.littleme ul li {
  left: -6%;
  right: 6%;
  text-align: center;
  height: auto;
  width: 100%;
  display: block;
  background-color: #B51A00;
  opacity: 1;
}

.littleme a {
  text-align: center;
  opacity: 1;
  left: 0;
  right: 0;
  display: block;
  background-color: #B51A00;
  color: #FFF;
  font-size: 20px;
  font-family: ;
  line-height: 45px;
  text-decoration: none;
}

.littleme li > a:after { content: ' +';}

.littleme li > a:only-child:after { content: ''; }

.menu {
	position: absolute;
	top: 90%;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
	z-index: 10000;
	background-color: black;
}



.toma {
	position: relative;
	height: 30px;
	width: 30px;
	background-color: black;
	opacity: 0;
}

#menutext {
	position: absolute;
	left: -80px;
	right: 0;
	top: -5px;
	bottom: 0;
	list-style: none;
	font-family: 'Handlee', sans-serif;
	font-size: 15px;
	color: white;
	text-align: center;
	vertical-align: middle;
}

#linemenu {
	background-color: #B51A00;
	height: 2px;
	top: 45%;
	left: 0;
	right: 0;
	width: 60%;
	text-align: center;
	position: absolute;
	z-index: 7002;
	border: none;
	opacity: .7;
	}

li {
	display: inline;
	padding: 0px 30px;
}

a {
	text-decoration: none;
	outline: none;
	color: white;
}

a:hover .toma {
	opacity: 1;
	top: 5px;
	transition: .7s;
}

.fixed {
  	top: 0;
  	bottom: 90%;
  	position: fixed;
}

#barz {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	width: 100%;
	height: 15px;
	background-color: black;
}

 
.cd-container {
	top: -20px;
	background-color: black;
	height: 500px;
	z-index: 5;
}


#image {
	position: absolute;
	top: 37%;
	left: 0;
	right: 0;
	text-align: center;
	height: auto;
	width: 100%;
	background-color: transparent;
}

img {
	position: relative;
	height: 150px;
	width: 300px;
	border-radius: 80px;
}

#firsttext {
	position: absolute;
	top: 110%;
	left: 0;
	right: 0;
	text-align: center;
	font-weight: 100;
	font-family: 'Handlee', sans-serif;
	font-size: 2.6vw;
	color: white;
	line-height: 80px;
	z-index: 9000;
}

#secondtext {
	position: absolute;
	top: 120%;
	left: 0;
	right: 0;
	text-align: center;
	font-weight: 100;
	font-family: 'Handlee', sans-serif;
	font-size: 2.6vw;
	color: white;
	line-height: 80px;
}

#hider {
	position: absolute;
	display: none;
}

#tacostwo {
	position: absolute;
	left: 44%;
	right: 0;
	text-align: center;
	text-decoration: none;
	color: white;
	top: 138%;
	font-size: 22px;
	border-radius: 2px;
	border-color: transparent;
	background-color: #B51A00;
	font-family: 'Handlee', sans-serif;
	cursor: pointer;
	outline: none;
}

.cd-containertwo {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	height: 600px;
	vertical-align: middle;
}

#secttwo {
	position: absolute;
	top: 70px;
	vertical-align: middle;
	left: 40%;
	right: 10px;
	text-align: center;
	font-weight: 100;
	font-family: 'Handlee', sans-serif;
	font-size: 2.6vw;
	color: white;
	line-height: 70px;
}

#readmore {
	position: absolute;
	left: 65%;
	right: 0;
	text-align: center;
	text-decoration: none;
	color: white;
	top: 470px;
	font-size: 20px;
	border-radius: 2px;
	border-color: transparent;
	background-color: #B51A00;
	font-family: 'Handlee', sans-serif;
	cursor: pointer;
	outline: none;
}

#smallone {
	position: absolute;
	left: 10px;
	right: 63%;
	top: 80px;
	height: 450px;
	background-image: url("http://i.imgur.com/Wah8ys3.jpg");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 180px;
}

.cd-containerthree {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	height: 500px;
	vertical-align: middle;
}

#contact {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	text-align: center;
	font-weight: 100;
	font-family: 'Handlee', sans-serif;
	font-size: 29px;
	color: white;
	z-index: 7000;
}

#phone {
	position: absolute;
	top: 170px;
	left: 0;
	right: 10%;
	text-align: center;
	font-weight: 100;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 7000;
}

#diffphone {
	position: absolute;
	top: 170px;
	left: 7%;
	right: 0;
	text-align: center;
	font-weight: 100;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: #B51A00;
	z-index: 7000;
}

#email {
	position: absolute;
	top: 210px;
	left: 0;
	right: 17%;
	text-align: center;
	font-weight: 100;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 7000;
}

#diffemail {
	position: absolute;
	top: 210px;
	left: 6%;
	right: 0;
	text-align: center;
	font-weight: 100;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: #B51A00;
	z-index: 7000;
}

.menutwo {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
}

#menutexttwo {
	position: absolute;
	left: -80px;
	right: 0;
	top: 60%;
	bottom: 0;
	list-style: none;
	font-family: 'Handlee', sans-serif;
	font-size: 15px;
	color: white;
	text-align: center;
	vertical-align: middle;
}

#endstuf {
	position: absolute;
	font-family: 'Handlee', sans-serif;
	font-size: 14px;
	color: white;
	top: 95%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 8000;
}

#finalimg {
	position: absolute;
	top: 130px;
	left: 45px;
	height: 150px;
	width: 300px;
	border-radius: 100px;
	background-image: url("http://i.imgur.com/Gj3MwMA.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

#finalimgtwo {
	position: absolute;
	top: 50px;
	right: 5px;
	height: 300px;
	width: 400px;
	background-image: url("http://i.imgur.com/cBAFUZv.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}


.cd-fixed-bg.cd-bg-1 {
  background-image: url("http://i.imgur.com/waq1vxF.jpg");
  bottom: -40px;
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("http://i.imgur.com/Xm1riGh.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("http://i.imgur.com/tYwisp1.jpg");
}

.cd-scrolling-bg {
	min-height: 60%;
}

@media all and (max-width: 1024px) {
	body, html, main {
		/* important */
		height: 100%;
		background-color: black;
	}
	
	.top {
		position: absolute;
		top: 50px;
		height: 90px;
		left: 0;
		right: 0;
		width: 100%;
		background-color: black;
	}
	
	#need {
		position: absolute;
		top: -15px;
		left: 0;
		right: 0;
		text-align: center;
		color: white;
		font-family: 'Handlee', sans-serif;
		font-size: 26px;
	}
	
	#tacos {
		-webkit-appearance: none;
		text-decoration: none;
		color: white;
		top: -10px;
		font-size: 23px;
		border-radius: 2px;
		height: 30px;
		width: 190px;
		border-color: transparent;
		background-color: #B51A00;
		font-family: 'Handlee', sans-serif;
		cursor: pointer;
		outline: none;
	}
	 
	.cd-fixed-bg {
		height: 300px;
		width: 100%;
		background-size: cover;
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	.menu {
		position: absolute;
		display: none;
	}
	
	.menuwrap {
		transform: translate3d(0px,0px,0px);
		position: fixed;
		display: inline;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 50px;
		z-index: 10001;
	}
	
	#alm {
		position: absolute;
		height: 48px;
		top: 0;
		left: 0;
		z-index: 10001;
	}
	
	#alm2 {
		height: 48px;
		width: 140px;
	}
	
		 /*Makes Mobile Version of Menu visible*/
	.littleme {
		display: initial;
		text-align: center;
	    	left: 0;
	    	right: 0;
	    	z-index: 10000;
	    	height: 50px;
	    	overflow: visible;
	    	background-color: black;
	    	opacity: 1;
	  }
	
	.littleme { margin: 0; }
	
	.toggle + a,
	 .othermenu { 
	     	display: none;
	     	left: 0;
	     	right: 0;
	     	text-align: center;
	 }
	
	/*Used a Character Font to make the Menu Icon. 
	It was the most effecient way to get to what I needed.
	This styles the Menu Icon*/
	.toggle {
	    	display: block;
	    	text-align: right;
	    	background-color: black;
	    	opacity: 1;
	    	top: 3px;
	    	position: absolute;
	    	right: 0;
	    	left: 0;
	    	color: #B51A00;
	    	font-size: 48px;
	    	font-weight: 100;
	    	line-height: 45px;
	    	text-decoration: none;
	    	font-family: 'Material Icons', sans-serif;
	    	z-index: 7000;
	}
	
	/*Makes Menu Icon Site green after getting clicked*/
	#drop:checked + label {
	    	color: #B51A00;
	}
	
	/*Displays Dropdown Menu after Menu Icon is clicked*/
	[id^=drop]:checked + label + ul {
	    	display: block;
	}
	
	.littleme ul li {
		display: block;
		text-align: center;
		left: -6%;
		right: 6%;
	    	width: 100%;
	    	z-index: 6000;
	    	border: none;
	    	font-family: 'Handlee', sans-serif;
	}
	
	#barz {
		position: absolute;
		display: none;
	}
	
	 
	.cd-container {
		top: -20px;
		background-color: black;
		height: 400px;
		z-index: 5;
	}
	
	
	#image {
		position: absolute;
		top: 37%;
		left: 0;
		right: 0;
		text-align: center;
		height: auto;
		width: 100%;
		background-color: transparent;
	}
	
	img {
		position: relative;
		height: 150px;
		width: 300px;
		border-radius: 80px;
	}
	
	#firsttext {
		position: absolute;
		display: none;
		z-index: 1;
	}
	
	#secondtext {
		position: absolute;
		display: none;
		z-index: 1;
	}
	
	#hiderone {
		position: absolute;
		top: 100%;
		height: 140px;
		left: 7px;
		right: 7px;
		text-align: center;
		font-weight: 100;
		font-family: 'Handlee', sans-serif;
		font-size: 30px;
		color: white;
		line-height: 30px;
		z-index: 9000;
	}
	
	#tacostwo {
		margin: auto;
		display: block;
	}
	
	
	#tacostwo {
		-webkit-appearance: none;
		top: 148%;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		text-decoration: none;
		height: 40px;
		width: 210px;
		color: white;
		font-size: 22px;
		border-radius: 2px;
		border-color: transparent;
		background-color: #B51A00;
		font-family: 'Handlee', sans-serif;
		cursor: pointer;
		outline: none;
	}
	
	#butcen {
		position: absolute;
		display: block;
		top: 148%;
		left: 0;
		height: 30px;
		width: 100%;
		right: 0;
		text-align: center;
		background-color: black;
	}
	
	.cd-containertwo {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		height: 400px;
		vertical-align: middle;
		background-color: black;
	}
	
	#secttwo {
		position: absolute;
		top: -5px;
		vertical-align: middle;
		left: 7px;
		right: 7px;
		text-align: center;
		font-weight: 100;
		font-family: 'Handlee', sans-serif;
		font-size: 28px;
		color: white;
		line-height: 30px;
	}
	
	#readmore {
		margin: auto;
		display: block;
	}
	
	#readmore {
		-webkit-appearance: none;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		height: 40px;
		width: 160px;
		text-align: center;
		text-decoration: none;
		color: white;
		top: 340px;
		font-size: 22px;
		border-radius: 2px;
		border-color: transparent;
		background-color: #B51A00;
		font-family: 'Handlee', sans-serif;
		cursor: pointer;
		outline: none;
	}
	
	#smallone {
		position: absolute;
		display: none;
	}
	
	.cd-containerthree {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		height: 500px;
		vertical-align: middle;
	}
	
	#contact {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
		font-weight: 100;
		font-family: 'Handlee', sans-serif;
		font-size: 29px;
		color: white;
		z-index: 7000;
	}
	
	#phone {
		position: absolute;
		top: 70px;
		left: -140px;
		right: 0;
		text-align: center;
		font-weight: 100;
		font-family: 'Handlee', sans-serif;
		font-size: 22px;
		color: white;
		z-index: 7000;
	}
	
	#diffphone {
		position: absolute;
		top: 70px;
		left: 60px;
		right: 0;
		text-align: center;
		font-weight: 100;
		font-family: 'Handlee', sans-serif;
		font-size: 22px;
		color: #B51A00;
		z-index: 7000;
	}
	
	a[href^=tel] { 
		color: inherit; text-decoration: none; 
	}
	
	#email {
		position: absolute;
		top: 110px;
		left: -212px;
		right: 0;
		text-align: center;
		font-weight: 100;
		font-family: 'Handlee', sans-serif;
		font-size: 22px;
		color: white;
		z-index: 7000;
	}
	
	#diffemail {
		position: absolute;
		top: 110px;
		left: 60px;
		right: 0;
		text-align: center;
		font-weight: 100;
		font-family: 'Handlee', sans-serif;
		font-size: 22px;
		color: #B51A00;
		z-index: 7000;
	}
	
	.menutwo {
		position: absolute;
		display: none;
	}
	
	#endstuf {
		position: absolute;
		font-family: 'Handlee', sans-serif;
		font-size: 14px;
		color: white;
		top: 95%;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 8000;
	}
	
	#finalimg {
		position: absolute;
		display: none;
	}
	
	#finalimgtwo {
		position: absolute;
		top: 230px;
		text-align: center;
		left: 3%;
		right: 0;
		margin: auto;
		display: block;
		height: 150px;
		width: 300px;
		border-radius: 100px;
		background-image: url("http://i.imgur.com/cBAFUZv.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
	}
	
	
	.cd-fixed-bg.cd-bg-1 {
	  background-image: url("http://i.imgur.com/waq1vxF.jpg");
	  
	}
	.cd-fixed-bg.cd-bg-2 {
	  background-image: url("http://i.imgur.com/Xm1riGh.jpg");
	}
	.cd-fixed-bg.cd-bg-3 {
	  background-image: url("http://i.imgur.com/tYwisp1.jpg");
	}
	
	.cd-scrolling-bg {
		height: 55%;
	}
}

@media all and (max-width: 350px) {                                  /*This is the break where media at 350px starts*/
	body, html, main {
		/* important */
		height: 100%;
		background-color: black;
	}
	
	.top {
		position: absolute;
		top: 50px;
		height: 90px;
		left: 0;
		right: 0;
		width: 100%;
		background-color: black;
	}
	
	#need {
		position: absolute;
		top: -15px;
		left: 0;
		right: 0;
		text-align: center;
		color: white;
		font-family: 'Handlee', sans-serif;
		font-size: 26px;
	}
	
	#tacos {
		-webkit-appearance: none;
		text-decoration: none;
		color: white;
		top: -10px;
		font-size: 23px;
		border-radius: 2px;
		height: 30px;
		width: 190px;
		border-color: transparent;
		background-color: #B51A00;
		font-family: 'Handlee', sans-serif;
		cursor: pointer;
		outline: none;
	}
	 
	.cd-fixed-bg {
		height: 300px;
		width: 100%;
		background-size: cover;
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	.menu {
		position: absolute;
		display: none;
	}
	
	.menuwrap {
		transform: translate3d(0px,0px,0px);
		position: fixed;
		display: inline;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 50px;
		z-index: 10001;
	}
	
	#alm {
		position: absolute;
		height: 48px;
		top: 0;
		left: 0;
		z-index: 10001;
	}
	
	#alm2 {
		height: 48px;
		width: 140px;
	}
	
		 /*Makes Mobile Version of Menu visible*/
	.littleme {
		display: initial;
		text-align: center;
	    	left: 0;
	    	right: 0;
	    	z-index: 10000;
	    	height: 50px;
	    	overflow: visible;
	    	background-color: black;
	    	opacity: 1;
	  }
	
	.littleme { margin: 0; }
	
	.toggle + a,
	 .othermenu { 
	     	display: none;
	     	left: 0;
	     	right: 0;
	     	text-align: center;
	 }
	
	/*Used a Character Font to make the Menu Icon. 
	It was the most effecient way to get to what I needed.
	This styles the Menu Icon*/
	.toggle {
	    	display: block;
	    	text-align: right;
	    	background-color: black;
	    	opacity: 1;
	    	top: 3px;
	    	position: absolute;
	    	right: 0;
	    	left: 0;
	    	color: #B51A00;
	    	font-size: 48px;
	    	font-weight: 100;
	    	line-height: 45px;
	    	text-decoration: none;
	    	font-family: 'Material Icons', sans-serif;
	    	z-index: 7000;
	}
	
	/*Makes Menu Icon Site green after getting clicked*/
	#drop:checked + label {
	    	color: #B51A00;
	}
	
	/*Displays Dropdown Menu after Menu Icon is clicked*/
	[id^=drop]:checked + label + ul {
	    	display: block;
	}
	
	.littleme ul li {
		display: block;
		text-align: center;
		left: -7.5%;
		right: 7.5%;
	    	width: 100%;
	    	z-index: 6000;
	    	border: none;
	    	font-family: 'Handlee', sans-serif;
	}
	
	.littleme ul {
		padding: 0;
		left: -7.5%;
		right: 7.5%;
	 	list-style: none;
		position: relative;
		text-align: center;
	}

	#barz {
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		right: 0;
		width: 100%;
		height: 15px;
		background-color: black;
	}
	
	 
	.cd-container {
		top: -20px;
		background-color: black;
		height: 400px;
		z-index: 5;
	}
	
	
	#image {
		position: absolute;
		top: 37%;
		left: 0;
		right: 0;
		text-align: center;
		height: auto;
		width: 100%;
		background-color: transparent;
	}
	
	img {
		position: relative;
		height: 150px;
		width: 300px;
		border-radius: 80px;
	}
	
	#firsttext {
		position: absolute;
		display: none;
		z-index: 1;
	}
	
	#secondtext {
		position: absolute;
		display: none;
		z-index: 1;
	}
	
	#hiderone {
		position: absolute;
		top: 100%;
		height: 140px;
		left: 7px;
		right: 7px;
		text-align: center;
		font-weight: 100;
		font-family: 'Handlee', sans-serif;
		font-size: 30px;
		color: white;
		line-height: 30px;
		z-index: 9000;
	}
	
	#tacostwo {
		margin: auto;
		display: block;
	}
	
	#tacostwo {
		-webkit-appearance: none;
		position: absolute;
		height: 30px;
		width: 210px;
		left: 0;
		right: 0;
		text-align: center;
		text-decoration: none;
		color: white;
		top: 152%;
		font-size: 24px;
		border-radius: 2px;
		border-color: transparent;
		background-color: #B51A00;
		font-family: 'Handlee', sans-serif;
		cursor: pointer;
		outline: none;
	}

	
	.cd-containertwo {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		height: 400px;
		vertical-align: middle;
		background-color: black;
	}
	
	#secttwo {
		position: absolute;
		top: -5px;
		vertical-align: middle;
		left: 7px;
		right: 7px;
		text-align: center;
		font-weight: 100;
		font-family: 'Handlee', sans-serif;
		font-size: 28px;
		color: white;
		line-height: 30px;
	}
	
	#butcen2 {
		position: absolute;
		top: 148px;
		height: 30px;
		text-align: center;
		left: 0;
		right: 0;
		background-color: black;
	}
	
	#readmore {
		-webkit-appearance: none;
		position: absolute;
		height: 30px;
		width: 160px;
		text-align: center;
		text-decoration: none;
		color: white;
		top: 360px;
		font-size: 22px;
		border-radius: 2px;
		border-color: transparent;
		background-color: #B51A00;
		font-family: 'Handlee', sans-serif;
		cursor: pointer;
		outline: none;
	}
	
	#smallone {
		position: absolute;
		display: none;
	}
	
	.cd-containerthree {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		height: 500px;
		vertical-align: middle;
	}
	
	#contact {
		position: absolute;
		top: 0px;
		left: 0;
		right: 0;
		text-align: center;
		font-weight: 100;
		font-family: 'Handlee', sans-serif;
		font-size: 29px;
		color: white;
		z-index: 7000;
	}
	
	#phone {
		position: absolute;
		top: 70px;
		left: 0;
		right: 43%;
		text-align: center;
		font-weight: 100;
		font-family: 'Handlee', sans-serif;
		font-size: 22px;
		color: white;
		z-index: 7000;
	}
	
	#diffphone {
		position: absolute;
		top: 70px;
		left: 22%;
		right: 0;
		text-align: center;
		font-weight: 100;
		font-family: 'Handlee', sans-serif;
		font-size: 22px;
		color: #B51A00;
		z-index: 7000;
	}
	
	a[href^=tel] { 
		color: inherit; text-decoration: none; 
	}
	
	#email {
		position: absolute;
		top: 110px;
		left: 0;
		right: 68%;
		text-align: center;
		font-weight: 100;
		font-family: 'Handlee', sans-serif;
		font-size: 22px;
		color: white;
		z-index: 7000;
	}
	
	#diffemail {
		position: absolute;
		top: 110px;
		left: 20%;
		right: 0;
		text-align: center;
		font-weight: 100;
		font-family: 'Handlee', sans-serif;
		font-size: 22px;
		color: #B51A00;
		z-index: 7000;
	}
	
	.menutwo {
		position: absolute;
		display: none;
	}
	
	#endstuf {
		position: absolute;
		font-family: 'Handlee', sans-serif;
		font-size: 14px;
		color: white;
		top: 95%;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 8000;
	}
	
	#finalimg {
		position: absolute;
		display: none;
	}
	
	#finalimgtwo {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		display: block;
		top: 230px;
		text-align: center;
		height: 150px;
		width: 300px;
		border-radius: 100px;
		background-image: url("http://i.imgur.com/cBAFUZv.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
	}
	
	
	.cd-fixed-bg.cd-bg-1 {
	  background-image: url("http://i.imgur.com/waq1vxF.jpg");
	  
	}
	.cd-fixed-bg.cd-bg-2 {
	  background-image: url("http://i.imgur.com/Xm1riGh.jpg");
	}
	.cd-fixed-bg.cd-bg-3 {
	  background-image: url("http://i.imgur.com/tYwisp1.jpg");
	}
	
	.cd-scrolling-bg {
		height: 55%;
	}
}
