body {
	height: auto;
	width: 100%;
	overflow: visible;
	background-color: black;
	margin: auto;
}

#spoon {
	position: absolute;
	display: none;
	left: 0;
	right: 0;
	top: 1050px;
	height: 260px ;
	width: 150px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("http://i.imgur.com/OdTsPfs.png");	
	background-size: 100%;
	z-index: 1000;
	text-align: center;
	margin: auto;
	background-color: transparent;
	transition: .5s;
}

#wood {
	position: absolute;
	display: none;
	right: 30px;
	top: 630px;
	height: 330px ;
	width: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("http://i.imgur.com/9YT2VWW.png");	
	background-size: 100%;
	z-index: 1000;
	background-color: transparent;
	transition: .8s;
}

#green {
	position: absolute;
	left: 20px;
	top: 670px;
	height: 200px ;
	width: 290px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("http://i.imgur.com/WpmxPPP.png");	
	background-size: 100%;
	z-index: 1000;
	background-color: transparent;
	transition: .6s;
	display: none;
}

#guisosdoe {
	position: absolute;
	display: none;
	left: 40px;
	top: 1540px;
	height: 330px ;
	width: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("http://i.imgur.com/dRy6YJv.png");	
	background-size: 100%;
	z-index: 1000;
	background-color: transparent;
	transition: .8s;
}	

#rice {
	position: absolute;
	right: 10px;
	top: 1800px;
	height: 330px ;
	width: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("http://i.imgur.com/NEFd4YV.png");	
	background-size: 100%;
	z-index: 1000;
	background-color: transparent;
	transition: .8s;
	display: none;
}

.top {
	position: absolute;
	top: 0;
	height: 50px;
	left: 0;
	right: 0;
	width: 100%;
	background-color: black;
	opacity: 1;
	overflow: hidden;
}

#need {
	position: absolute;
	top: -7px;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
	font-family: 'Handlee', sans-serif;
	font-size: 19px;
}

#tacos {
	-webkit-appearance: none;
	text-decoration: none;
	color: white;
	top: -10px;
	font-size: 17px;
	border-radius: 2px;
	height: 30px;
	width: 130px;
	border-color: transparent;
	background-color: #B51A00;
	font-family: 'Handlee', sans-serif;
	cursor: pointer;
	outline: none;
}

#siteimg {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	height: 400px;
	background-image: url("http://i.imgur.com/4Tufqja.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#logoimg {
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	text-align: center;
	height: auto;
	width: 100%;
	background-color: transparent;
}

img {
	position: relative;
	height: 150px;
	width: 300px;
	border-radius: 80px;
}

.menuwrap {
	position: absolute;
	display: none;
}

.littleme p { text-align: right; }
 .toggle, [id^=drop] {
 display: none;
}

/*Dropdown Menu for mobile site. Hidden on desktop*/
.littleme {
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: right;
  margin: 0;
  padding: 0;
  position: absolute;
  display: none;
}

.littleme:after {
  content: "";
  display: table;
  clear: both;
}

.littleme ul {
  padding: 0;
  left: -6%;
  right: 6%;
  list-style: none;
  position: relative;
  text-align: center;
}

.littleme ul li {
  left: -6%;
  right: 6%;
  text-align: center;
  height: auto;
  width: 100%;
  display: block;
  background-color: #B51A00;
  opacity: 1;
}

.littleme a {
  text-align: center;
  opacity: 1;
  left: 0;
  right: 0;
  display: block;
  background-color: #B51A00;
  color: #FFF;
  font-size: 20px;
  font-family: ;
  line-height: 45px;
  text-decoration: none;
}

.littleme li > a:after { content: ' +';}

.littleme li > a:only-child:after { content: ''; }

.menu {
	position: absolute;
	top: 450px;
	left: 0;
	right: 0;
	width: 100%;
	height: 95px;
	z-index: 7000;
	background-color: black;
	overflow: hidden;
}

.toma {
	position: relative;
	height: 30px;
	width: 30px;
	top: 5px;
	background-color: black;
	opacity: 0;
}

#menutext {
	position: absolute;
	overflow: hidden;
	left: -80px;
	right: 0;
	top: -5px;
	bottom: 0;
	list-style: none;
	font-family: 'Handlee', sans-serif;
	font-size: 15px;
	color: white;
	text-align: center;
	vertical-align: middle;
}


li {
	display: inline;
	padding: 0px 30px;
}

a {
	text-decoration: none;
	outline: none;
	color: white;
}

a:hover .toma {
	opacity: 1;
	top: 5px;
	transition: .7s;
}

.fixed {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 95px;
}

.info {
	position: absolute;
	left: 0;
	right: 0;
	top: 550px;
	height: 2650px;
	width: 100%;
	z-index: 1001;
	background-color: transparent;
	transition: ease-out .4s all;
	overflow: hidden;
}

#container {
	position: absolute;
	top: 450px;
	left: 0;
	right: 0;
	height: 2700px;
	background-image: url("http://i.imgur.com/FZDtDqG.jpg");
	background-position: center;
	background-repeat: repeat;
	opacity: .6;
	overflow: hidden;
}
	

#formhead {
	position: absolute;
	left: 0;
	right: 0;
	top: 10px;
	text-align: center;
	font-size: 42px;
	font-family: 'Handlee', sans-serif;
	color: white;
	z-index: 5000;
}

#taquiza {
	position: absolute;
	top: 130px;
	left: 0;
	height: 1000px;
	right: 0;
	transition: .5s ease-out;
}

#taquizatext {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 42px;
	color: #B51A00;
}

.include {
	position: absolute;
	left: 0;
	right: 0;
	top: 55px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 29px;
	color: white;
}

#tacova {
	position: absolute;
	left: -15px;
	right: 0;
	top: 150px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#difftacova {
	position: absolute;
	left: -380px;
	right: 0;
	top: 153px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 23px;
	color: white;
}

#meat {
	position: absolute;
	left: -65px;
	right: 0;
	top: 180px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#diffmeat {
	position: absolute;
	left: -380px;
	right: 0;
	top: 183px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 23px;
	color: white;
}

#salsa {
	position: absolute;
	left: 5px;
	right: 0;
	top: 210px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#diffsalsa {
	position: absolute;
	left: -380px;
	right: 0;
	top: 213px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 23px;
	color: white;
}

#sides {
	position: absolute;
	left: -105px;
	right: 0;
	top: 240px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#diffsides {
	position: absolute;
	left: -380px;
	right: 0;
	top: 243px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 23px;
	color: white;
}

#agua {
	position: absolute;
	left: -138px;
	right: 0;
	top: 270px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#diffagua {
	position: absolute;
	left: -380px;
	right: 0;
	top: 273px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 23px;
	color: white;
}

#cups {
	position: absolute;
	left: 0px;
	right: 0;
	top: 300px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#diffcups {
	position: absolute;
	left: -380px;
	right: 0;
	top: 303px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 23px;
	color: white;
}

#typesof {
	position: absolute;
	left: 0;
	right: 50%;
	top: 385px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 29px;
	color: white;
	text-decoration: underline;
	z-index: 3000;
}

/*Split Here 	background-image: url("http://www.tioluchin.com/img/bg-guisado.jpg");
	background-position: center;
	background-repeat: repeat;*/
#asada {
	position: absolute;
	left: 0;
	right: 50%;
	top: 440px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#tripas {
	position: absolute;
	left: 0;
	right: 50%;
	top: 470px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#chick {
	position: absolute;
	left: 0;
	right: 50%;
	top: 500px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#ado {
	position: absolute;
	left: 0;
	right: 50%;
	top: 530px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#rizo{
	position: absolute;
	left: 0;
	right: 50%;
	top: 560px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#soy {
	position: absolute;
	left: 0;
	right: 50%;
	top: 590px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#nita {
	position: absolute;
	left: 0;
	right: 50%;
	top: 620px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#beza {
	position: absolute;
	left: 0;
	right: 50%;
	top: 650px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#gua {
	position: absolute;
	left: 0;
	right: 50%;
	top: 680px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}




/*Yuuuupp Split Here*/

#waterof {
	position: absolute;
	left: 50%;
	right: 0;
	top: 385px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 29px;
	color: white;
	text-decoration: underline;
	z-index: 3000;
}

#hor {
	position: absolute;
	left: 50%;
	right: 0;
	top: 440px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#ceb {
	position: absolute;
	left: 50%;
	right: 0;
	top: 470px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#jam {
	position: absolute;
	left: 50%;
	right: 0;
	top: 500px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#lim {
	position: absolute;
	left: 50%;
	right: 0;
	top: 530px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#melon {
	position: absolute;
	left: 50%;
	right: 0;
	top: 560px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#pina {
	position: absolute;
	left: 50%;
	right: 0;
	top: 590px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#san {
	position: absolute;
	left: 50%;
	right: 0;
	top: 620px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#tama {
	position: absolute;
	left: 50%;
	right: 0;
	top: 660px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#fres {
	position: absolute;
	left: 50%;
	right: 0;
	top: 690px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

/*Another Split*/

#peopler {
	position: absolute;
	left: -90px;
	right: 50%;
	top: 825px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
	text-decoration: underline;
}

#costr {
	position: absolute;
	left: -90px;
	right: 50%;
	top: 865px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#seventyr {
	position: absolute;
	left: 0;
	right: 0;
	top: 825px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
	text-decoration: underline;
}

#seventycostr {
	position: absolute;
	left: 0;
	right: 0;
	top: 865px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#hunedr {
	position: absolute;
	left: 50%;
	right: -90px;
	top: 825px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
	text-decoration: underline;
}

#hunedcostr {
	position: absolute;
	left: 50%;
	right: -90px;
	top: 865px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}



#guisos {
	position: absolute;
	top: 1130px;
	left: 0;
	height: 600px;
	right: 0;
}

#guisostext {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 42px;
	color: #B51A00;
}

#bistec {
	position: absolute;
	left: 0;
	right: -10px;
	top: 140px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 20px;
	color: white;
	z-index: 3000;
}

#diffbistec {
	position: absolute;
	left: -670px;
	right: 0;
	top: 143px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 23px;
	color: white;
}

#cochi {
	position: absolute;
	left: 0;
	right: -65px;
	top: 170px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 20px;
	color: white;
	z-index: 3000;
}

#diffcochi {
	position: absolute;
	left: -670px;
	right: 0;
	top: 173px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 23px;
	color: white;
}

#rajas {
	position: absolute;
	left: 0;
	right: 112px;
	top: 200px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 20px;
	color: white;
	z-index: 3000;
}

#diffrajas {
	position: absolute;
	left: -670px;
	right: 0;
	top: 203px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 23px;
	color: white;
}

#chich {
	position: absolute;
	left: 0;
	right: 0;
	top: 230px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 20px;
	color: white;
	z-index: 3000;
}

#diffchich {
	position: absolute;
	left: -670px;
	right: 0;
	top: 233px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 23px;
	color: white;
}

#mar {
	position: absolute;
	left: 5px;
	right: 0;
	top: 260px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 20px;
	color: white;
	z-index: 3000;
}

#diffmar {
	position: absolute;
	left: -670px;
	right: 0;
	top: 263px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 23px;
	color: white;
}

#frijol {
	position: absolute;
	left: -140px;
	right: 0;
	top: 290px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 20px;
	color: white;
	z-index: 3000;
}

#diffrijol {
	position: absolute;
	left: -670px;
	right: 0;
	top: 293px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 23px;
	color: white;
}

#pollo {
	position: absolute;
	left: 55px;
	right: 0;
	top: 320px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 20px;
	color: white;
	z-index: 3000;
}

#diffpollo {
	position: absolute;
	left: -670px;
	right: 0;
	top: 323px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 23px;
	color: white;
}

#tinga {
	position: absolute;
	left: -85px;
	right: 0;
	top: 350px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 20px;
	color: white;
	z-index: 3000;
}

#difftinga {
	position: absolute;
	left: -670px;
	right: 0;
	top: 353px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 23px;
	color: white;
}

#cama {
	position: absolute;
	left: -60px;
	right: 0;
	top: 380px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 20px;
	color: white;
	z-index: 3000;
}

#diffcama {
	position: absolute;
	left: -670px;
	right: 0;
	top: 383px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 23px;
	color: white;
}

#puer {
	position: absolute;
	left: 55px;
	right: 0;
	top: 410px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 20px;
	color: white;
	z-index: 3000;
}

#diffpuer {
	position: absolute;
	left: -670px;
	right: 0;
	top: 413px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 23px;
	color: white;
}

#mach {
	position: absolute;
	left: -15px;
	right: 0;
	text-align: center;
	top: 440px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 20px;
	color: white;
	z-index: 3000;
}

#diffmach {
	position: absolute;
	left: -670px;
	right: 0;
	top: 443px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 23px;
	color: white;
}

#people {
	position: absolute;
	left: -90px;
	right: 50%;
	top: 545px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
	text-decoration: underline;
}

#cost {
	position: absolute;
	left: -90px;
	right: 50%;
	top: 585px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#seventy {
	position: absolute;
	left: 0;
	right: 0;
	top: 545px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
	text-decoration: underline;
}

#seventycost {
	position: absolute;
	left: 0;
	right: 0;
	top: 585px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#huned {
	position: absolute;
	left: 50%;
	right: -90px;
	top: 545px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
	text-decoration: underline;
}

#hunedcost {
	position: absolute;
	left: 50%;
	right: -90px;
	top: 585px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
	z-index: 3000;
}

#extras {
	position: absolute;
	top: 1860px;
	left: 0;
	height: 400px;
	right: 0;
}

#extrastext {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 42px;
	color: #B51A00;
}

#guac {
	position: absolute;
	left: 0;
	right: 0;
	top: 150px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
}

#creme {
	position: absolute;
	left: 0;
	right: 0;
	top: 210px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
}

#choco {
	position: absolute;
	left: 0;
	right: 0;
	top: 270px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
}

#arro {
	position: absolute;
	left: 0;
	right: 0;
	top: 330px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 25px;
	color: white;
}

#tacostwo {
	-webkit-appearance: none;
	position: absolute;
	left: 45%;
	right: 0;
	text-decoration: none;
	color: white;
	top: 500px;
	font-size: 17px;
	border-radius: 8px;
	height: 50px;
	width: 170px;
	border-color: transparent;
	background-color: #B51A00;
	font-family: 'Handlee', sans-serif;
	cursor: pointer;
	outline: none;
}

#bottom {
	position: absolute;
	top: 2930px;
	left: 0;
	right: 0;
	height: 390px;
	z-index: 8000;
	overflow: hidden;
	background-color: black;
}

.menutwo {
	position: absolute;
	top: 250px;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
	background-color: black;
}

#menutexttwo {
	position: absolute;
	left: -80px;
	right: 0;
	top: 20%;
	bottom: 0;
	list-style: none;
	font-family: 'Handlee', sans-serif;
	font-size: 15px;
	color: white;
	text-align: center;
	vertical-align: middle;
}

#endstuf {
	position: absolute;
	font-family: 'Handlee', sans-serif;
	font-size: 14px;
	color: white;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 8000;
	background-color: black;
}

#imgbotl {
	position: absolute;
	right: 0;
	top: -30px;
	height: 300px;
	width: 400px;
	background-image: url("http://i.imgur.com/cBAFUZv.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 8000;
}

#imgleft {
	position: absolute;
	left: 45px;
	top: 35px;
	height: 150px;
	width: 300px;
	background-image: url("http://i.imgur.com/8siXjwQ.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 120px;
	z-index: 8000;
	background-color: yellow;
}


#con {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	color: white;
	font-size: 26px;
}

#numba {
	position: absolute;
	left: -140px;
	top: 90px;
	right: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	color: white;
	font-size: 22px;
}

#colnum {
	position: absolute;
	left: 60px;
	top: 90px;
	right: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	color: #B51A00;
	font-size: 22px;
}
	
#mail {
	position: absolute;
	left: -212px;
	top: 140px;
	right: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	color: white;
	font-size: 22px;
}

#colmail {
	position: absolute;
	left: 60px;
	top: 140px;
	right: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	color: #B51A00;
	font-size: 22px;
}

@media all and (max-width: 1024px) {
	body {
		height: 4000px;
		width: 100%;
		right: 0;
		left: 0;
		overflow: visible;
		background-color: black;
	}
	
	#spoon {
		position: absolute;
		display: none;
	}
	
	#wood {
		position: absolute;
		display: none;
	}
	
	#green {
		position: absolute;
		display: none;
	}
	
	#guisosdoe {
		position: absolute;
		display: none;
	}	
	
	#rice {
		position: absolute;
		display: none;
	}	
	
	.top {
		position: absolute;
		top: 50px;
		height: 90px;
		left: 0;
		right: 0;
		width: 100%;
		background-color: black;
		opacity: 1;
		z-index: 700;
		overflow: hidde;
	}
	
	#need {
		position: absolute;
		top: -15px;
		left: 0;
		right: 0;
		text-align: center;
		color: white;
		font-family: 'Handlee', sans-serif;
		font-size: 26px;
	}
	
	#tacos {
		-webkit-appearance: none;
		text-decoration: none;
		color: white;
		top: -10px;
		font-size: 23px;
		border-radius: 2px;
		height: 30px;
		width: 190px;
		border-color: transparent;
		background-color: #B51A00;
		font-family: 'Handlee', sans-serif;
		cursor: pointer;
		outline: none;
	}
	
	#siteimg {
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		height: 400px;
		background-image: url("http://i.imgur.com/4Tufqja.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	#logoimg {
		position: absolute;
		top: 30%;
		left: 0;
		right: 0;
		text-align: center;
		height: auto;
		width: 100%;
		background-color: transparent;
	}
	
	img {
		position: relative;
		height: 150px;
		width: 300px;
		border-radius: 80px;
	}
	
	.menu {
		position: absolute;
		display: none;
	}
	
	.menuwrap {
		transform: translate3d(0px,0px,0px);
		position: fixed;
		display: inline;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 50px;
		z-index: 10001;
	}
	
	#alm {
		position: absolute;
		height: 48px;
		top: 0;
		left: 0;
		z-index: 10001;
	}
	
	#alm2 {
		height: 48px;
		width: 140px;
	}
	
		 /*Makes Mobile Version of Menu visible*/
	.littleme {
		display: initial;
		text-align: center;
	    	left: 0;
	    	right: 0;
	    	z-index: 10000;
	    	height: 50px;
	    	overflow: visible;
	    	background-color: black;
	    	opacity: 1;
	  }
	
	.littleme { margin: 0; }
	
	.toggle + a,
	 .othermenu { 
	     	display: none;
	     	left: 0;
	     	right: 0;
	     	text-align: center;
	 }
	
	/*Used a Character Font to make the Menu Icon. 
	It was the most effecient way to get to what I needed.
	This styles the Menu Icon*/
	.toggle {
	    	display: block;
	    	text-align: right;
	    	background-color: black;
	    	opacity: 1;
	    	top: 3px;
	    	position: absolute;
	    	right: 0;
	    	left: 0;
	    	color: #B51A00;
	    	font-size: 48px;
	    	font-weight: 100;
	    	line-height: 45px;
	    	text-decoration: none;
	    	font-family: 'Material Icons', sans-serif;
	    	z-index: 7000;
	}
	
	/*Makes Menu Icon Site green after getting clicked*/
	#drop:checked + label {
	    	color: #B51A00;
	}
	
	/*Displays Dropdown Menu after Menu Icon is clicked*/
	[id^=drop]:checked + label + ul {
	    	display: block;
	}
	
	.littleme ul li {
		display: block;
		text-align: center;
		left: -7.5%;
		right: 7.5%;
	    	width: 100%;
	    	z-index: 6000;
	    	border: none;
	    	font-family: 'Handlee', sans-serif;
	}
	
	.littleme ul {
		padding: 0;
		left: -7.5%;
		right: 7.5%;
	 	list-style: none;
		position: relative;
		text-align: center;
	}
	
	.info {
		position: absolute;
		left: 0;
		right: 0;
		top: 550px;
		height: 3150px;
		width: 100%;
		z-index: 1001;
		background-color: transparent;
		transition: ease-out .4s all;
		overflow: hidden;
	}
	
	#container {
		position: absolute;
		top: 450px;
		left: 0;
		right: 0;
		width: 100%;
		height: 3150px;
		background-image: url("http://i.imgur.com/FZDtDqG.jpg");
		background-position: center;
		background-repeat: repeat;
		opacity: .6;
		overflow: hidden;
	}
		
	
	#formhead {
		position: absolute;
		left: 0;
		right: 0;
		top: 10px;
		text-align: center;
		font-size: 42px;
		font-family: 'Handlee', sans-serif;
		color: white;
		z-index: 5000;
	}
	
	#taquiza {
		position: absolute;
		top: 130px;
		left: 0;
		height: 1000px;
		right: 0;
		transition: .5s ease-out;
	}
	
	#taquizatext {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 42px;
		color: #B51A00;
	}
	
	.include {
		position: absolute;
		left: 0;
		right: 0;
		top: 55px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 29px;
		color: white;
	}
	
	#tacova {
		position: absolute;
		left: -15px;
		right: 0;
		top: 150px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
	}
	
	#difftacova {
		position: absolute;
		left: -340px;
		right: 0;
		top: 153px;
		text-align: center;
		font-family: 'Material Icons', sans-serif;
		font-size: 23px;
		color: white;
	}
	
	#meat {
		position: absolute;
		left: -65px;
		right: 0;
		top: 180px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
	}
	
	#diffmeat {
		position: absolute;
		left: -340px;
		right: 0;
		top: 183px;
		text-align: center;
		font-family: 'Material Icons', sans-serif;
		font-size: 23px;
		color: white;
	}
	
	#salsa {
		position: absolute;
		left: 10px;
		right: 0;
		top: 210px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
	}
	
	#diffsalsa {
		position: absolute;
		left: -340px;
		right: 0;
		top: 213px;
		text-align: center;
		font-family: 'Material Icons', sans-serif;
		font-size: 23px;
		color: white;
	}
	
	#sides {
		position: absolute;
		left: -100px;
		right: 0;
		top: 240px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
	}
	
	#diffsides {
		position: absolute;
		left: -340px;
		right: 0;
		top: 243px;
		text-align: center;
		font-family: 'Material Icons', sans-serif;
		font-size: 23px;
		color: white;
	}
	
	#agua {
		position: absolute;
		left: -135px;
		right: 0;
		top: 270px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
	}
	
	#diffagua {
		position: absolute;
		left: -340px;
		right: 0;
		top: 273px;
		text-align: center;
		font-family: 'Material Icons', sans-serif;
		font-size: 23px;
		color: white;
	}
	
	#cups {
		position: absolute;
		left: 0px;
		right: 0;
		top: 300px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
	}
	
	#diffcups {
		position: absolute;
		left: -340px;
		right: 0;
		top: 303px;
		text-align: center;
		font-family: 'Material Icons', sans-serif;
		font-size: 23px;
		color: white;
	}
	
	#typesof {
		position: absolute;
		left: 0;
		right: 50%;
		top: 385px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 24px;
		color: white;
		text-decoration: underline;
		z-index: 3000;
	}
	
	/*Split Here 	background-image: url("http://www.tioluchin.com/img/bg-guisado.jpg");
		background-position: center;
		background-repeat: repeat;*/
	#asada {
		position: absolute;
		left: 0;
		right: 50%;
		top: 440px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	#tripas {
		position: absolute;
		left: 0;
		right: 50%;
		top: 470px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	#chick {
		position: absolute;
		left: 0;
		right: 50%;
		top: 500px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	#ado {
		position: absolute;
		left: 0;
		right: 50%;
		top: 530px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	#rizo{
		position: absolute;
		left: 0;
		right: 50%;
		top: 560px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	#soy {
		position: absolute;
		left: 0;
		right: 50%;
		top: 590px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	#nita {
		position: absolute;
		left: 0;
		right: 50%;
		top: 620px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	#beza {
		position: absolute;
		left: 0;
		right: 50%;
		top: 650px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	#gua {
		position: absolute;
		left: 0;
		right: 50%;
		top: 680px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	
	
	
	/*Yuuuupp Split Here*/
	
	#waterof {
		position: absolute;
		left: 50%;
		right: 0;
		top: 385px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 24px;
		color: white;
		text-decoration: underline;
		z-index: 3000;
	}
	
	#hor {
		position: absolute;
		left: 50%;
		right: 0;
		top: 440px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	#ceb {
		position: absolute;
		left: 50%;
		right: 0;
		top: 470px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	#jam {
		position: absolute;
		left: 50%;
		right: 0;
		top: 500px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	#lim {
		position: absolute;
		left: 50%;
		right: 0;
		top: 530px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	#melon {
		position: absolute;
		left: 50%;
		right: 0;
		top: 560px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	#pina {
		position: absolute;
		left: 50%;
		right: 0;
		top: 590px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	#san {
		position: absolute;
		left: 50%;
		right: 0;
		top: 620px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	#tama {
		position: absolute;
		left: 50%;
		right: 0;
		top: 650px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	#fres {
		position: absolute;
		left: 50%;
		right: 0;
		top: 680px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
		z-index: 3000;
	}
	
	/*Another Split*/
	
	#peopler {
		position: absolute;
		left: -60px;
		top: 825px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
		text-decoration: underline;
	}
	
	#costr {
		position: absolute;
		left: -60px;
		top: 865px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
	}
	
	#seventyr {
		position: absolute;
		left: 0;
		right: 0;
		top: 825px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
		text-decoration: underline;
	}
	
	#seventycostr {
		position: absolute;
		left: 0;
		right: 0;
		top: 865px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
	}
	
	#hunedr {
		position: absolute;
		right: -60px;
		top: 825px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
		text-decoration: underline;
	}
	
	#hunedcostr {
		position: absolute;
		right: -60px;
		top: 865px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
	}
	
	
	
	#guisos {
		position: absolute;
		top: 1130px;
		left: 0;
		height: 600px;
		right: 0;
	}
	
	#guisostext {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 42px;
		color: #B51A00;
	}
	
	#bistec {
		position: absolute;
		left: 35px
		right: 0px;
		top: 140px;
		line-height: 30px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
	}
	
	#diffbistec {
		position: absolute;
		left: -330px;
		right: 0;
		top: 143px;
		text-align: center;
		font-family: 'Material Icons', sans-serif;
		font-size: 23px;
		color: white;
	}
	
	#cochi {
		position: absolute;
		left: 25px;
		right: 0;
		top: 200px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
		line-height: 30px;
	}
	
	#diffcochi {
		position: absolute;
		left: -330px;
		right: 0;
		top: 203px;
		text-align: center;
		font-family: 'Material Icons', sans-serif;
		font-size: 23px;
		color: white;
	}
	
	#rajas {
		position: absolute;
		left: 15px;
		right: 15px;
		top: 260px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
		line-height: 30px;
	}
	
	#diffrajas {
		position: absolute;
		left: -330px;
		right: 0;
		top: 263px;
		text-align: center;
		font-family: 'Material Icons', sans-serif;
		font-size: 23px;
		color: white;
	}
	
	#chich {
		position: absolute;
		left: 15px;
		right: 15px;
		top: 320px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
		line-height: 30px;
	}
	
	#diffchich {
		position: absolute;
		left: -330px;
		right: 0;
		top: 323px;
		text-align: center;
		font-family: 'Material Icons', sans-serif;
		font-size: 23px;
		color: white;
	}
	
	#mar {
		position: absolute;
		left: 25px;
		right: 0;
		line-height: 30px;
		top: 380px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
	}
	
	#diffmar {
		position: absolute;
		left: -330px;
		right: 0;
		top: 383px;
		text-align: center;
		font-family: 'Material Icons', sans-serif;
		font-size: 23px;
		color: white;
	}
	
	#frijol {
		position: absolute;
		left: 10px;
		right: 0;
		top: 440px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
		line-height: 30px;
	}
	
	#diffrijol {
		position: absolute;
		left: -330px;
		right: 0;
		top: 443px;
		text-align: center;
		font-family: 'Material Icons', sans-serif;
		font-size: 23px;
		color: white;
	}
	
	#pollo {
		position: absolute;
		left: 25px;
		right: 0;
		top: 500px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
		line-height: 30px;
	}
	
	#diffpollo {
		position: absolute;
		left: -330px;
		right: 0;
		top: 500px;
		text-align: center;
		font-family: 'Material Icons', sans-serif;
		font-size: 23px;
		color: white;
	}
	
	#tinga {
		position: absolute;
		left: 25px;
		right: 0;
		top: 560px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
		line-height: 30px;
	}
	
	#difftinga {
		position: absolute;
		left: -330px;
		right: 0;
		top: 560px;
		text-align: center;
		font-family: 'Material Icons', sans-serif;
		font-size: 23px;
		color: white;
	}
	
	#cama {
		position: absolute;
		left: 5px;
		right: 0;
		top: 620px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
		line-height: 30px;
	}
	
	#diffcama {
		position: absolute;
		left: -330px;
		right: 0;
		top: 623px;
		text-align: center;
		font-family: 'Material Icons', sans-serif;
		font-size: 23px;
		color: white;
	}
	
	#puer {
		position: absolute;
		left: 25px;
		right: 0;
		top: 680px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
		line-height: 30px;
	}
	
	#diffpuer {
		position: absolute;
		left: -330px;
		right: 0;
		top: 683px;
		text-align: center;
		font-family: 'Material Icons', sans-serif;
		font-size: 23px;
		color: white;
	}
	
	#mach {
		position: absolute;
		left: 10px;
		right: 0;
		text-align: center;
		top: 740px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
		line-height: 30px;
	}
	
	#diffmach {
		position: absolute;
		left: -330px;
		right: 0;
		top: 743px;
		text-align: center;
		font-family: 'Material Icons', sans-serif;
		font-size: 23px;
		color: white;
	}
	
	#people {
		position: absolute;
		left: -60px;
		top: 945px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
		text-decoration: underline;
	}
	
	#cost {
		position: absolute;
		left: -60px;
		top: 985px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
	}
	
	#seventy {
		position: absolute;
		left: 0;
		right: 0;
		top: 945px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
		text-decoration: underline;
	}
	
	#seventycost {
		position: absolute;
		left: 0;
		right: 0;
		top: 985px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
	}
	
	#huned {
		position: absolute;
		right: -60px;
		top: 945px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
		text-decoration: underline;
	}
	
	#hunedcost {
		position: absolute;
		right: -60px;
		top: 985px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 25px;
		color: white;
		z-index: 3000;
	}
	
	#extras {
		position: absolute;
		top: 2290px;
		left: 0;
		height: 400px;
		right: 0;
	}
	
	#extrastext {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 42px;
		color: #B51A00;
	}
	
	#guac {
		position: absolute;
		left: 0;
		right: 0;
		top: 150px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
	}
	
	#creme {
		position: absolute;
		left: 0;
		right: 0;
		top: 210px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
	}
	
	#choco {
		position: absolute;
		left: 0;
		right: 0;
		top: 270px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
	}
	
	#arro {
		position: absolute;
		left: 0;
		right: 0;
		top: 330px;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		font-size: 20px;
		color: white;
	}
	
	#tacostwo {
		-webkit-appearance: none;
		position: absolute;
		left: 0;
		right: 0;
		text-decoration: none;
		color: white;
		top: 440px;
		font-size: 17px;
		border-radius: 8px;
		height: 50px;
		width: 170px;
		border-color: transparent;
		background-color: #B51A00;
		font-family: 'Handlee', sans-serif;
		cursor: pointer;
		outline: none;
		text-align: center;
		margin: auto;
	}
	
	#bottom {
		position: absolute;
		top: 3430px;
		left: 0;
		right: 0;
		height: 510px;
		z-index: 8000;
		background-color: black;
		overflow: hidden;
	}
	
	.menutwo {
		position: absolute;
		display: none;
	}
	
	#endstuf {
		position: absolute;
		font-family: 'Handlee', sans-serif;
		font-size: 14px;
		color: white;
		top: 94%;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 8000;
		background-color: black;
	}
	
	a[href^=tel] { 
		color: inherit; text-decoration: none; 
	}
	
	#imgbotl {
		position: absolute;
		left: 3%;
		text-align: center;
		margin: auto;
		right: 0;
		top: 230px;
		height: 150px;
		width: 300px;
		background-image: url("http://i.imgur.com/cBAFUZv.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		z-index: 8000;
	}
	
	#imgleft {
		position: absolute;
		display: none;
	}
	
	
	#con {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		color: white;
		font-size: 29px;
	}
	
	#numba {
		position: absolute;
		left: -140px;
		top: 70px;
		right: 0;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		color: white;
		font-size: 22px;
	}
	
	#colnum {
		position: absolute;
		left: 60px;
		top: 70px;
		right: 0;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		color: #B51A00;
		font-size: 22px;
	}
		
	#mail {
		position: absolute;
		left: -212px;
		top: 110px;
		right: 0;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		color: white;
		font-size: 22px;
	}
	
	#colmail {
		position: absolute;
		left: 60px;
		top: 110px;
		right: 0;
		text-align: center;
		font-family: 'Handlee', sans-serif;
		color: #B51A00;
		font-size: 22px;
	}
	
}

@media all and (max-width: 350px) {     

}
